RewriteEngine On
RewriteRule ^.ht - [F,L]
RewriteRule ^.git - [F,L]
RewriteRule ^config.php - [F,L]

AddType text/x-component .htc

<IfModule mod_rewrite.c> 

RewriteEngine On
RewriteBase /app_directory/

RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule ^(.*)$ $1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)/(.*)/$ index.php?page=$1&section=$2&item=$3 [L,QSA]
RewriteRule ^(.*)/(.*)/$ index.php?page=$1&section=$2 [L,QSA]
RewriteRule ^(.*)/$ index.php?page=$1 [L,QSA]

</IfModule>