// Site Styles

// TABLE OF CONTENTS
//
// 1 - root
// 2 - headers
// 3 - navigation
// 4 - article
// 5 - sections
// 6 - .flip-counter
// 7 - #modal 
//	8 - 
//	9 - 


// 1 - root
body{
  width:730px;
  margin:0 auto;
  font-family: 'Varela Round', sans-serif; 
  font-size: 14px;
}








// ****************************
// ****************************
// ****************************
// ****************************
// 2 - headers ****************
// ****************************
// ****************************
// ****************************
// ****************************


header{
  &[role="main"]{
      width:100%;
      height:9em;

      position: relative;

      background-image:url(../_img/header-pattern.png);
      background-position: left top;
      background-repeat:repeat-x;

      &:before, &:after{
        content:" ";
        width:17px;
        height:9em;
        display: block;

        position: absolute;
        z-index:9;
        }//&:before, &:after
      
      &:before{
        left:-16px;
        background-image:url(../_img/header-left-ribbon.png);
        }//&:before

      &:after{
        right:-16px;
        background-image:url(../_img/header-right-ribbon.png);
        }//&:after


    }//[role="main"]

    div#logo{
      width:242px;
      height:89px;
      display: block;
      
      position: absolute;
      left:22px;
      top:4px;

      background-image:url(../_img/header-logo.png);
    }

}

// 3 - navigation
nav{}
	
// 4 - article
article{}
	











// ****************************
// ****************************
// ****************************
// **************************** 
// 5 - sections ***************
// ****************************
// ****************************
// ****************************
// ****************************

section{

  &#slides{
    width:731px;
    height:420px;

    position:relative;
    top:-20px;
    overflow: hidden;

    background-image:url(../_img/slide-bkg.jpg);


    .slide-wrapper{
      width:3655px;
    }

    .slide{
      position: relative;
      width:731px;
      height:420px;
      display: block;
      float: left;
      background-repeat:no-repeat;

      img{
        position:absolute;
        border:2px solid #fff;
      }

    }

    .copy{
      position: absolute;
    }

    #slide-01{
      background-image:url(../_img/slide-1.jpg);

      .copy{
        width:200px;

        margin-left:-100px;

        top:140px;
        left:50%;

        p{
          margin-bottom: 10px;
          font-size: 0.9em;

          color:#194e7c;
          text-align: center;
        }

      }//.copy

      .cta{
        top:275px
      }
    }//#slide-01
    #slide-02{
      background-image:url(../_img/slide-2.png);
      background-position: 288px 52px;

      img{
        top:50px;
        left:60px;
      }

      .cta{
        top:205px;
        margin-left: 0;
        left:325px;
      }

      .copy{
        width:300px;
        display:block;

        top:120px;
        left:330px;

        p{
          font-size: 1.15em;
          line-height: 1.25em;
          color:#fff
        }
      }
    }//#slide-02
    #slide-03{
      background-image:url(../_img/slide-3.png);
      background-position:95px 40px;

      .cta{
        top:210px;
        margin-left: 0;
        left:320px;
      }

      .copy{
        width:300px;
        display:block;

        top:120px;
        left:322px;

        p{
          font-size: 1.15em;
          line-height: 1.25em;
          color:#fff;

          a{color:#fff;}
        }
      }
    }//#slide-03
    #slide-04{
      background-image:url(../_img/slide-4.png);
      background-position: 19px 31px;

      .cta{
        top:200px;
        margin-left: 0;
        left:455px;
      }

      .copy{
        width:200px;
        display:block;

        top:90px;
        left:455px;

        p{
          font-size: 1em;
          line-height: 1.25em;
          color:#fff;
          
          a{color:#fff;}
        }
      }
    }//#slide-04
    #slide-05{
      background-image:url(../_img/slide-5.png);
      background-position:25px 49px;

      .cta{
        width: 190px;
        top:200px;
        margin-left: 0;
        left:420px;
        background-image:url(../_img/see-the-cards.png);
      }

      .copy{
        width:250px;
        display:block;

        top:125px;
        left:420px;

        p{
          font-size: 1em;
          line-height: 1.25em;
          color:#fff;
          
          a{color:#fff;}
        }
      }
    }//#slide-05

    nav#slide-nav{
      width:609px;
      height:35px;

      margin-left:-305px;

      position: absolute;
      top:314px;
      left:50%;
      z-index: 9999;

      background-image: url(../_img/dot-tile.gif);
      box-shadow: 0 2px 1px rgba(0,0,0,0.5);

      li{
        width:20%;
        display:block;
        float:left;

        padding-top:10px;

        text-align:center;
        color:#1c507d;
        font-family: Verdana;

        cursor:hand;
        cursor:pointer;

        &.active{
          color:#ff1e50;
        }

      }
    }//nav#slide-nav

    #nav-arrow-01{
      width:25px;
      height:23px;
      display: block;
      margin-left: -75px;

      position: absolute;
      top:-15px;
      left:122px;

      background-image:url(../_img/small-arrow.png);
    }

    .cta{
      width:138px;
      height:32px;
      display:block;

      margin-left:-74px;

      position: absolute;
      top:250px;
      left:50%;

      background-image:url(../_img/CTA.png);
      background-position:center bottom;

      &:hover{
        background-position:center -1px;
      }

    }

  }//&#slides

  &#section-2, &#section-3{
    width:731px;
    display: block;
    float: left;

    position:relative;
    top:-73px;


  }//&#section-2, &#section-3

  &#section-2{
    height:390px;

    background-image:url(../_img/section-2.png);

    &.thanks{
      background-image:url(../_img/section-2-alt.png);
    }

    .copy{
      width:546px;
      margin:0 auto;
      padding-top:130px;

      p{
        font-size: 1em;
        letter-spacing: 0.1em;
        color:#fff;
        font-weight: 300;
        text-align:center;
      }
    }

    #cta-block-wrapper{
      width:100%; 

      position:absolute;


    }

    #cta-block{
      width:643px;
      height:180px;
      display: block;
      margin:0 auto;
      padding:0 43px;

      position:relative;

      background-image:url(../_img/section-2-links.jpg);
      background-position:left 10px;
      background-repeat:no-repeat;

      .arrow-wrap{
        width:650px;
        position: relative;
      }

      .arrow{
        width:58px;
        height:58px;
        display: block;

        position: absolute;
        left:50px;

        background-image:url(../_img/big-arrow.png);
        background-repeat:no-repeat;
      }

      a{
        width:25%;
        height:160px;
        display: block;
        float:left;
        margin-top: 20px;
        text-decoration: none;
      }

    }

    #form{
      width:678px;
      height:300px;
      display:block;


      margin:0 auto;

    }

  }//&#section-2

  &#section-3{

    padding-bottom:50px;

    position:relative;
    overflow: hidden;

    background-image:url(../_img/section-3.jpg);

    h2{
      position:relative;
      top:40px;

      padding-top:40px;

      background-image:url(../_img/section-3-title.jpg);
      background-repeat:no-repeat;
      background-position:center top;

      color:#fff;
      text-align:center;
      font-weight: normal;
    }

  }//&#section-3

  #card-gallery{
    width:100%;
    margin:0 auto;
    padding-bottom:50px;
  
    position: relative;
    padding-top:250px;
    top:-100px;
    overflow-y: hidden;
    overflow-x: visible;

    .card-row{
      width:560px;
      display: block;
      margin:0 auto;
    }

  }// &#card-gallery

  .featured-card{
    width:100%;
    height:372px;
    display: block;
    float: left;
    margin:10px 0 10px -10px;

    img{
      border:2px solid #fff;
    }

    .social{
      width:163px;
      display: block;
      margin:10px auto;

      a.social-link{
        height:21px;
        display:block;
        float:left;
        margin-left:3px;

        background-image:url(../_img/social-btns.jpg);
        background-position-y:bottom;
        background-repeat:no-repeat;

        &:hover{
          background-position-y:top;
        }

      }

      a.pinterest{
        width:39px;
        background-position-x:left;
      }

      a.facebook{
        width:57px;
        background-position-x:-40px;
      }

      a.twitter{
        width:57px;
        background-position-x:-98px;
      }

    }


  }// .featured-card

  .card-thumb{
    width:130px;
    height:80px;
    display: block;
    float:left;

    position: relative;

    margin:5px;

    background:url(/content/images/cards/card001-s.jpg);

    cursor: hand;
    cursor: pointer;



  }

  .tooltip{

    padding:5px 5px 25px 5px;

    position:absolute;
    top:-185px;
    left:-80px;

    background-image:url(../_img/tooltip.png);
    background-repeat:no-repeat;
  }

  #expandToggle{
    width: 585px;
    height: 30px;
    display: block;
    
    position: absolute;
    bottom: 40px;
    left:50%;

    margin-left: -305px;

    background-image:url(../_img/cards-cta.png);
    background-repeat: no-repeat;

    text-decoration: none;
  }

}









// ****************************
// ****************************
// ****************************
// ****************************
// 6 - .flip-counter **********
// ****************************
// ****************************
// ****************************
// ****************************

#flip-counter{ 
  width:320px; 

  position: absolute;
  top:9px;
  right:80px;

  background-image:url(../_img/flip-title.jpg);
  background-repeat:no-repeat;
  background-position: 9px 4px;

  &:after{
    content:" ";
    width:80px;
    height:30px;

    position: absolute;
    top:23px;
    right:-68px;
    z-index:1;

    background-image:url(../_img/ticker-tag.png);
    background-repeat:no-repeat;
  }

}

.flip-counter ul.cd{
  float:left;

  margin:0 -14px 0 0;
  padding:0;

  list-style-type:none;

  position:relative; 
  z-index:99;
}
.flip-counter li{background:url(../_img/digits.png) 0 0 no-repeat; position:relative; z-index:99;}
.flip-counter li.t{background-position:0 0;width:53px;height:39px}
.flip-counter li.b{background-position:0 0;width:53px;height:64px}
.flip-counter li.s{background-position:-53px -1030px;width:14px;height:103px}







// ****************************
// ****************************
// ****************************
// ****************************
// 7 - #modal *****************
// ****************************
// ****************************
// ****************************
// ****************************

#open-modal{
  width:400px;
  height:60px;
  display: block;

  position:absolute;
  top:10px;
  right:10px;
  z-index: 9999;

  cursor: hand;
  cursor: pointer;
}

#modal{
  background-image:url(../_img/trans-bkg.png);
  width:100%;
  height:1610px;

  position:absolute;
  top:105px;
  bottom:0;
  left:0;
  right:0;
  z-index: 99999;
  overflow: hidden;
}

.modal-wrap{
  width:703px;
  height:808px;

  position: absolute;
  top:-820px;
  left:50%;

  margin-left: -351px;

  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  box-shadow:0 3px 3px rgba(0,0,0,0.5);

  background-image: url(../_img/modal-bkg.jpg);
}

#close{
  width:41px;
  height:41px;
  display: block;

  position: absolute;
  top:7px;
  right:14px;

  background-image: url(../_img/close.jpg);
  background-repeat:no-repeat;
}

.top-copy{
  width:544px;

  position:absolute;
  top:125px;
  left:50%;

  margin-left:-272px;

  text-align: center;

  p{
    color:#194e7c;
  }
}

.modal-target{
  height:260px;

  position: absolute;
  top:250px;


  &#modal-dish{width:150px; left:50px;}
  &#modal-stove{width:150px; left:210px;}
  &#modal-washer{width:280px; left:380px;}

}

.modal-copy{
  width:400px;

  position:absolute;
  top:568px;
  left:220px;
  color:#fff;

  .time{
    position:absolute;
    top:18px;
    left:-100px;
    text-transform: uppercase;
    font-size: 18px;
  }

  a{color:#fff;}

}

.saved{
  width:100px;

  position:absolute;
  top:615px;
  left:82px;

  color:#fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

#arrow{
  width:32px;
  height:16px;
  display: block;

  position:absolute;
  top:532px;
  left:100px;

  background-image: url(../_img/up-caret.jpg);
}


