/* =================================================================================
Global
================================================================================= */

body { color: #444; font: 16px/1 Helvetica, Arial, sans-serif; width: 520px; }

/* Tools */
.alignleft  { float: left; margin: 1em 1em 1em 0; }
.alignright { float: right; margin: 0 0 1em 1em; }
.bullets { list-style: disc outside; margin: 1em 0; padding: 0 0 0 3em; }
.numbers { list-style: decimal outside; margin: 1em 0; padding: 0 0 0 3em; }
.text-img { display: block; overflow: hidden; text-indent: -9999em; }

/* Fonts */
h1, h2, h3, h4, h5, h6 { font-family: Helvetica, Arial, sans-serif; font-weight: normal; }
h1  	{ font-size: 48px; }
h2  	{ font-size: 32px; }
h3  	{ font-size: 18px; }
h4  	{ font-size: 16px; }
h5  	{ font-size: 14px; }
h6	    { font-size: 12px; }
p		{ font-size: 14px; line-height: 18px; }
a   	{ color: #eee4a8; text-decoration: none; }
a:visited {  }
a:hover { text-decoration: underline; }
a:active {  }

/* Forms */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea { border: 0; padding: 8px 4px; width: 90%; }
textarea { min-height: 100px; }
label { color: #ccc; display: block; padding: 5px 0; }
.required {	color: #cc0033; }
.btn {
	border: 1px solid #000; color: #313131; font-size: 14px; font-weight: bold; display: inline-block; padding: 12px 22px; text-align: center; text-shadow: 0 1px 0 rgba(255,255,255,0.3); text-transform: uppercase;
	background-color: #eee4a8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff7c9), to(#ccbc64));
	background-image: -webkit-linear-gradient(top, #fff7c9, #ccbc64);
	background-image: -moz-linear-gradient(top, #fff7c9, #ccbc64);
	background-image: -ms-linear-gradient(top, #fff7c9, #ccbc64);
	background-image: -o-linear-gradient(top, #fff7c9, #ccbc64);
	background-image: linear-gradient(top, #fff7c9, #ccbc64);
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-ms-box-shadow: inset 0 1px 0 #fff;
	-o-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px;
}
.btn:hover {
    background-color: #e5da9b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fef8d3), to(#d6c983));
    background-image: -webkit-linear-gradient(top, #fef8d3, #d6c983);
    background-image: -moz-linear-gradient(top, #fef8d3, #d6c983);
    background-image: -ms-linear-gradient(top, #fef8d3, #d6c983);
    background-image: -o-linear-gradient(top, #fef8d3, #d6c983);
    background-image: linear-gradient(top, #fef8d3, #d6c983);
    text-decoration: none;
}    
.btn:active {
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 0 10px #000;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px rgba(112,106,68,0.4), 0 0 15px rgba(254,248,211,0.05);
}

/* =================================================================================
Structure Blocks
================================================================================= */

#container { margin: 0 auto; overflow: hidden; text-align: left; width: 520px; }

/* Content Columns */
.col2-set .col-1 	  { width: 48%; float: left; }
.col2-set .col-2 	  { width: 48%; float: right; }
.col2-set .col-wide   { width: 66%; }
.col2-set .col-narrow { width: 25%; }

/* =================================================================================
Content Blocks 
================================================================================= */

.primary {  }
.primary p { margin: 0 0 10px; }

.errors, .success, .loading { display: none; }
.error-msg { font-size: 10px; color: #ff0000; }
.loading { background: #000 url(../images/ajax-loader.gif) no-repeat 50% 50%; margin: -32px 0 0 -32px; position: absolute; top: 50%; left: 50%; text-indent: -9999em; width: 64px; height: 64px; overflow: hidden; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.fb-share-btn { background: #ECEEF5 url(../images/icon-fb-share.png) no-repeat 5px 50%; border: 1px solid #CAD4E7; color: #3B5998; display: block; font-size: 10px; font-weight: normal; line-height: 14px; margin: 0 4px 0 0; padding: 2px 4px 2px 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.fb-share-btn:hover { text-decoration: none; }

/* =================================================================================
Plugins
================================================================================= */


/* =================================================================================
IE
================================================================================= */

.css3 { behavior:url(/resources/scripts/pie.htc); }

/* =================================================================================
Print
================================================================================= */
@media print {	
	* { background: #fff; color: #000; }
	html { font: 100%/1.5 georgia, serif; }
	.main { float: none; margin: 0; width: 100%; }
	a { color: #000000; }
	a:link:after { content: " (" attr(href) ") "; }
}