/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0;
  box-shadow: none; }

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

b, strong {
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: "bello-pro"; }

a {
  color: #297fcf; }

a:visited {
  color: #2165a4; }

a:hover {
  color: #4f98dc; }

a:focus {
  outline: thin dotted;
  color: #4f98dc; }

a:hover, a:active {
  outline: 0; }

body {
  width: 730px;
  margin: 0 auto;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px; }

header[role="main"] {
  width: 100%;
  height: 9em;
  position: relative;
  background-image: url(../_img/header-pattern.png);
  background-position: left top;
  background-repeat: repeat-x; }
  header[role="main"]:before, header[role="main"]:after {
    content: " ";
    width: 17px;
    height: 9em;
    display: block;
    position: absolute;
    z-index: 9; }
  header[role="main"]:before {
    left: -16px;
    background-image: url(../_img/header-left-ribbon.png); }
  header[role="main"]:after {
    right: -16px;
    background-image: url(../_img/header-right-ribbon.png); }
header div#logo {
  width: 242px;
  height: 89px;
  display: block;
  position: absolute;
  left: 22px;
  top: 4px;
  background-image: url(../_img/header-logo.png); }

section#slides {
  width: 731px;
  height: 420px;
  position: relative;
  top: -20px;
  overflow: hidden;
  background-image: url(../_img/slide-bkg.jpg); }
  section#slides .slide-wrapper {
    width: 3655px; }
  section#slides .slide {
    position: relative;
    width: 731px;
    height: 420px;
    display: block;
    float: left;
    background-repeat: no-repeat; }
    section#slides .slide img {
      position: absolute;
      border: 2px solid #fff; }
  section#slides .copy {
    position: absolute; }
  section#slides #slide-01 {
    background-image: url(../_img/slide-1.jpg); }
    section#slides #slide-01 .copy {
      width: 200px;
      margin-left: -100px;
      top: 140px;
      left: 50%; }
      section#slides #slide-01 .copy p {
        margin-bottom: 10px;
        font-size: 0.9em;
        color: #194e7c;
        text-align: center; }
    section#slides #slide-01 .cta {
      top: 275px; }
  section#slides #slide-02 {
    background-image: url(../_img/slide-2.png);
    background-position: 288px 52px; }
    section#slides #slide-02 img {
      top: 50px;
      left: 60px; }
    section#slides #slide-02 .cta {
      top: 205px;
      margin-left: 0;
      left: 325px; }
    section#slides #slide-02 .copy {
      width: 300px;
      display: block;
      top: 120px;
      left: 330px; }
      section#slides #slide-02 .copy p {
        font-size: 1.15em;
        line-height: 1.25em;
        color: white; }
  section#slides #slide-03 {
    background-image: url(../_img/slide-3.png);
    background-position: 95px 40px; }
    section#slides #slide-03 .cta {
      top: 210px;
      margin-left: 0;
      left: 320px; }
    section#slides #slide-03 .copy {
      width: 300px;
      display: block;
      top: 120px;
      left: 322px; }
      section#slides #slide-03 .copy p {
        font-size: 1.15em;
        line-height: 1.25em;
        color: #fff; }
        section#slides #slide-03 .copy p a {
          color: #fff; }
  section#slides #slide-04 {
    background-image: url(../_img/slide-4.png);
    background-position: 19px 31px; }
    section#slides #slide-04 .cta {
      top: 200px;
      margin-left: 0;
      left: 455px; }
    section#slides #slide-04 .copy {
      width: 200px;
      display: block;
      top: 90px;
      left: 455px; }
      section#slides #slide-04 .copy p {
        font-size: 1em;
        line-height: 1.25em;
        color: #fff; }
        section#slides #slide-04 .copy p a {
          color: #fff; }
  section#slides #slide-05 {
    background-image: url(../_img/slide-5.png);
    background-position: 25px 49px; }
    section#slides #slide-05 .cta {
      width: 190px;
      top: 200px;
      margin-left: 0;
      left: 420px;
      background-image: url(../_img/see-the-cards.png); }
    section#slides #slide-05 .copy {
      width: 250px;
      display: block;
      top: 125px;
      left: 420px; }
      section#slides #slide-05 .copy p {
        font-size: 1em;
        line-height: 1.25em;
        color: #fff; }
        section#slides #slide-05 .copy p a {
          color: #fff; }
  section#slides nav#slide-nav {
    width: 609px;
    height: 35px;
    margin-left: -305px;
    position: absolute;
    top: 314px;
    left: 50%;
    z-index: 9999;
    background-image: url(../_img/dot-tile.gif);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5); }
    section#slides nav#slide-nav li {
      width: 20%;
      display: block;
      float: left;
      padding-top: 10px;
      text-align: center;
      color: #1c507d;
      font-family: Verdana;
      cursor: hand;
      cursor: pointer; }
      section#slides nav#slide-nav li.active {
        color: #ff1e50; }
  section#slides #nav-arrow-01 {
    width: 25px;
    height: 23px;
    display: block;
    margin-left: -75px;
    position: absolute;
    top: -15px;
    left: 122px;
    background-image: url(../_img/small-arrow.png); }
  section#slides .cta {
    width: 138px;
    height: 32px;
    display: block;
    margin-left: -74px;
    position: absolute;
    top: 250px;
    left: 50%;
    background-image: url(../_img/CTA.png);
    background-position: center bottom; }
    section#slides .cta:hover {
      background-position: center -1px; }
section#section-2, section#section-3 {
  width: 731px;
  display: block;
  float: left;
  position: relative;
  top: -73px; }
section#section-2 {
  height: 390px;
  background-image: url(../_img/section-2.png); }
  section#section-2.thanks {
    background-image: url(../_img/section-2-alt.png); }
  section#section-2 .copy {
    width: 546px;
    margin: 0 auto;
    padding-top: 130px; }
    section#section-2 .copy p {
      font-size: 1em;
      letter-spacing: 0.1em;
      color: #fff;
      font-weight: 300;
      text-align: center; }
  section#section-2 #cta-block-wrapper {
    width: 100%;
    position: absolute; }
  section#section-2 #cta-block {
    width: 643px;
    height: 180px;
    display: block;
    margin: 0 auto;
    padding: 0 43px;
    position: relative;
    background-image: url(../_img/section-2-links.jpg);
    background-position: left 10px;
    background-repeat: no-repeat; }
    section#section-2 #cta-block .arrow-wrap {
      width: 650px;
      position: relative; }
    section#section-2 #cta-block .arrow {
      width: 58px;
      height: 58px;
      display: block;
      position: absolute;
      left: 50px;
      background-image: url(../_img/big-arrow.png);
      background-repeat: no-repeat; }
    section#section-2 #cta-block a {
      width: 25%;
      height: 160px;
      display: block;
      float: left;
      margin-top: 20px;
      text-decoration: none; }
  section#section-2 #form {
    width: 678px;
    height: 300px;
    display: block;
    margin: 0 auto; }
section#section-3 {
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  background-image: url(../_img/section-3.jpg); }
  section#section-3 h2 {
    position: relative;
    top: 40px;
    padding-top: 40px;
    background-image: url(../_img/section-3-title.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    text-align: center;
    font-weight: normal; }
section #card-gallery {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
  padding-top: 250px;
  top: -100px;
  overflow-y: hidden;
  overflow-x: visible; }
  section #card-gallery .card-row {
    width: 560px;
    display: block;
    margin: 0 auto; }
section .featured-card {
  width: 100%;
  height: 372px;
  display: block;
  float: left;
  margin: 10px 0 10px -10px; }
  section .featured-card img {
    border: 2px solid #fff; }
  section .featured-card .social {
    width: 163px;
    display: block;
    margin: 10px auto; }
    section .featured-card .social a.social-link {
      height: 21px;
      display: block;
      float: left;
      margin-left: 3px;
      background-image: url(../_img/social-btns.jpg);
      background-position-y: bottom;
      background-repeat: no-repeat; }
      section .featured-card .social a.social-link:hover {
        background-position-y: top; }
    section .featured-card .social a.pinterest {
      width: 39px;
      background-position-x: left; }
    section .featured-card .social a.facebook {
      width: 57px;
      background-position-x: -40px; }
    section .featured-card .social a.twitter {
      width: 57px;
      background-position-x: -98px; }
section .card-thumb {
  width: 130px;
  height: 80px;
  display: block;
  float: left;
  position: relative;
  margin: 5px;
  background: url(/content/images/cards/card001-s.jpg);
  cursor: hand;
  cursor: pointer; }
section .tooltip {
  padding: 5px 5px 25px 5px;
  position: absolute;
  top: -185px;
  left: -80px;
  background-image: url(../_img/tooltip.png);
  background-repeat: no-repeat; }
section #expandToggle {
  width: 585px;
  height: 30px;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -305px;
  background-image: url(../_img/cards-cta.png);
  background-repeat: no-repeat;
  text-decoration: none; }

#flip-counter {
  width: 320px;
  position: absolute;
  top: 9px;
  right: 80px;
  background-image: url(../_img/flip-title.jpg);
  background-repeat: no-repeat;
  background-position: 9px 4px; }
  #flip-counter:after {
    content: " ";
    width: 80px;
    height: 30px;
    position: absolute;
    top: 23px;
    right: -68px;
    z-index: 1;
    background-image: url(../_img/ticker-tag.png);
    background-repeat: no-repeat; }

.flip-counter ul.cd {
  float: left;
  margin: 0 -14px 0 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  z-index: 99; }

.flip-counter li {
  background: url(../_img/digits.png) 0 0 no-repeat;
  position: relative;
  z-index: 99; }

.flip-counter li.t {
  background-position: 0 0;
  width: 53px;
  height: 39px; }

.flip-counter li.b {
  background-position: 0 0;
  width: 53px;
  height: 64px; }

.flip-counter li.s {
  background-position: -53px -1030px;
  width: 14px;
  height: 103px; }

#open-modal {
  width: 400px;
  height: 60px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: hand;
  cursor: pointer; }

#modal {
  background-image: url(../_img/trans-bkg.png);
  width: 100%;
  height: 1610px;
  position: absolute;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow: hidden; }

.modal-wrap {
  width: 703px;
  height: 808px;
  position: absolute;
  top: -820px;
  left: 50%;
  margin-left: -351px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  background-image: url(../_img/modal-bkg.jpg); }

#close {
  width: 41px;
  height: 41px;
  display: block;
  position: absolute;
  top: 7px;
  right: 14px;
  background-image: url(../_img/close.jpg);
  background-repeat: no-repeat; }

.top-copy {
  width: 544px;
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -272px;
  text-align: center; }
  .top-copy p {
    color: #194e7c; }

.modal-target {
  height: 260px;
  position: absolute;
  top: 250px; }
  .modal-target#modal-dish {
    width: 150px;
    left: 50px; }
  .modal-target#modal-stove {
    width: 150px;
    left: 210px; }
  .modal-target#modal-washer {
    width: 280px;
    left: 380px; }

.modal-copy {
  width: 400px;
  position: absolute;
  top: 568px;
  left: 220px;
  color: #fff; }
  .modal-copy .time {
    position: absolute;
    top: 18px;
    left: -100px;
    text-transform: uppercase;
    font-size: 18px; }
  .modal-copy a {
    color: #fff; }

.saved {
  width: 100px;
  position: absolute;
  top: 615px;
  left: 82px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px; }

#arrow {
  width: 32px;
  height: 16px;
  display: block;
  position: absolute;
  top: 532px;
  left: 100px;
  background-image: url(../_img/up-caret.jpg); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    outline: 1px solid red;
    width: 100%; } }
